/* Main content */
.main-container {
  padding: 10px;
  height: 100%;
}

#live-view {
  width: 1024px;
  height: 768px;
}

/* Footer styling */
.footer {
  margin-top: 45px;
  padding: 35px 30px 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #888;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-buffer { margin-top:20px; }

.product-img {
  margin: 10px auto;
  display: block;
  max-height: 200px;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}
